/* Fonts */
@font-face {
    font-family: 'UTMDaxline';
    src:url('../fonts/UTMDaxline.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/UTMDaxline.woff') format('woff'), 
        url('../fonts/UTMDaxline.ttf') format('truetype'), 
        url('../fonts/UTMDaxline.svg#SFUFutura') format('svg');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMScriptinaKT';
    src:url('../fonts/UTMScriptinaKT.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/UTMScriptinaKT.woff') format('woff'), 
        url('../fonts/UTMScriptinaKT.ttf') format('truetype'), 
        url('../fonts/UTMScriptinaKT.svg#SFUFutura') format('svg');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMViceroyJF';
    src:url('../fonts/UTMViceroyJF.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/UTMViceroyJF.woff') format('woff'), 
        url('../fonts/UTMViceroyJF.ttf') format('truetype'), 
        url('../fonts/UTMViceroyJF.svg#SFUFutura') format('svg');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonotypeCorsiva';
    src:url('../fonts/MonotypeCorsiva.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/MonotypeCorsiva.woff') format('woff'), 
        url('../fonts/MonotypeCorsiva.ttf') format('truetype'), 
        url('../fonts/MonotypeCorsiva.svg#SFUFutura') format('svg');

    font-weight: normal;
    font-style: normal;
}


